## 4. `pandas` Practice - Part 2

#### Import `numpy` and `pandas`

In [1]:
import numpy as np
import pandas as pd

#### Read in the `wdi_indicators` and `weo_report` datasets with `pd.read_csv()`

In [2]:
wdi = pd.read_csv("wdi_indicators.csv")
weo = pd.read_csv("weo_1023.csv")

#### Check the top 5 observations of each dataset

In [3]:
wdi.head()

          country                      region         income_group
0     Afghanistan                  South Asia           Low income
1         Albania       Europe & Central Asia  Upper middle income
2         Algeria  Middle East & North Africa  Upper middle income
3  American Samoa         East Asia & Pacific  Upper middle income
4         Andorra       Europe & Central Asia          High income

In [4]:
weo.head()

,WEO Country Code,ISO,WEO Subject Code,Country,Subject Descriptor,Subject Notes,Units,Scale,Country/Series-specific Notes,1980,...,2020,2021,2022,2023,2024,2025,2026,2027,2028,Estimates Start After
0,512,AFG,NGDP_R,Afghanistan,"Gross domestic product, constant prices",Expressed in billions of national currency uni...,National currency,Billions,Source: National Statistics Office Latest actu...,NaN,...,"1,288.87","1,021.60",NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021.0
1,512,AFG,NGDP_RPCH,Afghanistan,"Gross domestic product, constant prices",Annual percentages of constant price GDP are y...,Percent change,NaN,"See notes for: Gross domestic product, consta...",NaN,...,-2.351,-20.737,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021.0
2,512,AFG,NGDP,Afghanistan,"Gross domestic product, current prices",Expressed in billions of national currency uni...,National currency,Billions,Source: National Statistics Office Latest actu...,NaN,...,"1,547.29","1,232.86",NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021.0
3,512,AFG,NGDPD,Afghanistan,"Gross domestic product, current prices",Values are based upon GDP in national currency...,U.S. dollars,Billions,"See notes for: Gross domestic product, curren...",NaN,...,20.136,14.941,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021.0
4,512,AFG,PPPGDP,Afghanistan,"Gross domestic product, current prices",These data form the basis for the country weig...,Purchasing power parity; international dollars,Billions,"See notes for: Gross domestic product, curren...",NaN,...,81.007,67.093,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021.0

#### Find out how many entries (rows) there are in the `weo` data (not just in the printout of the dataset)

In [5]:
weo.shape[0]

8626

#### How many unique Subject Descriptors are there in the dataset?

In [6]:
weo["Subject Descriptor"].nunique()

28

#### What is the median year estimates start after for data in this dataset

In [7]:
weo["Estimates Start After"].median()

2022.0

#### Clean things up

- For columns, drop/remove all columns except `Country`, `Subject Descriptor`, `Units`, and any year columns with at least 7,400 non-missing (not NA) values
- For rows, keep only rows with the "Gross domestic product per capita, current prices", "Inflation, average consumer prices", and "Unemployment rate" `Subject Descriptor`s
  + For "Gross domestic product per capita, current prices", keep only rows with the purchasing power parity units
  + For "Inflation, average consumer prices", keep only rows with the percent change units
- After all of the above filters are applied, remove the `Units` column

In [8]:
weo_new = weo.drop(['WEO Country Code','ISO','WEO Subject Code','Subject Notes','Scale','Country/Series-specific Notes','Estimates Start After'],axis=1)
weo_new = weo_new.dropna(axis=1,thresh=7400)
weo_new = weo_new.loc[(weo_new["Subject Descriptor"] == "Gross domestic product per capita, current prices") | (weo_new["Subject Descriptor"] == "Inflation, average consumer prices")|(weo_new["Subject Descriptor"] == "Unemployment rate") ]
weo_new = weo_new.loc[(weo_new["Units"] == "Purchasing power parity; international dollars") | (weo_new["Units"] == "Percent change")|(weo_new["Units"] == "Percent of total labor force")]
weo_new = weo_new.drop('Units',axis=1)
weo_new

,Country,Subject Descriptor,2004,2005,2006,2007,2008,2009,2010,2011,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
10,Afghanistan,"Gross domestic product per capita, current prices","1,113.15","1,240.38","1,306.71","1,464.72","1,512.00","1,788.40","1,908.19","2,010.83",...,"2,534.92","2,400.62","2,515.55","2,449.94","2,543.14","2,459.20","1,990.99",NaN,NaN,NaN
17,Afghanistan,"Inflation, average consumer prices",16.358,10.569,6.785,8.681,26.419,-6.811,2.179,11.804,...,-0.662,4.384,4.976,0.626,2.302,5.607,5.128,13.709,NaN,NaN
24,Afghanistan,Unemployment rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,Albania,"Gross domestic product per capita, current prices","6,050.65","6,619.06","7,271.78","7,975.19","8,805.05","9,220.65","9,725.55","10,207.74",...,"11,662.00","12,077.60","13,039.70","13,896.82","14,450.53","14,171.03","16,154.03","18,164.43","19,566.01","20,739.09"
61,Albania,"Inflation, average consumer prices",2.867,2.363,2.37,2.96,3.31,2.231,3.615,3.443,...,1.868,1.287,1.985,2.029,1.411,1.621,2.043,6.726,4.777,3.986
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8553,Zambia,"Inflation, average consumer prices",17.969,18.325,9.017,10.655,12.449,13.392,8.5,8.658,...,10.107,17.87,6.577,7.495,9.151,15.733,22.021,10.993,10.624,9.645
8560,Zambia,Unemployment rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8590,Zimbabwe,"Gross domestic product per capita, current prices","1,884.63","1,784.42","1,747.48","1,729.35","1,465.09","1,569.29","1,883.80","2,174.90",...,"2,643.16","2,668.33","2,311.53","2,450.39","2,295.68","2,104.58","2,337.81","2,602.78","2,749.78","2,857.51"
8597,Zimbabwe,"Inflation, average consumer prices",113.569,-31.522,32.974,-72.729,156.964,6.216,3.045,3.47,...,-2.41,-1.558,0.907,10.607,255.292,557.21,98.546,193.399,314.501,222.399
8604,Zimbabwe,Unemployment rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Tidy the "raw" WEO report data

#### Use `melt` to transform the weo report data into a long 4-column data set

In [9]:
weo_long = weo_new.melt(
    id_vars = ['Country','Subject Descriptor'],
    var_name='Year',
    value_name='value' 
)
weo_long.head()

,Country,Subject Descriptor,Year,value
0,Afghanistan,"Gross domestic product per capita, current prices",2004,"1,113.15"
1,Afghanistan,"Inflation, average consumer prices",2004,16.358
2,Afghanistan,Unemployment rate,2004,NaN
3,Albania,"Gross domestic product per capita, current prices",2004,"6,050.65"
4,Albania,"Inflation, average consumer prices",2004,2.867

#### Fix the data type of the `value` column

At this point, the `value` column is of the `object` datatype! This will create problems later on. In order to ensure it is the correct data type for our calculations downstream:
- Remove the commas from all the values in the `value` column
- Convert the column to the `float` data type using the `astype(float)` method

In [10]:
weo_long["value"].dtype

dtype('O')

In [11]:
weo_long["value"] = weo_long["value"].replace(',','', regex=True)
weo_long["value"] = weo_long["value"].astype(float)
weo_long.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12348 entries, 0 to 12347
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             12348 non-null  object
 1   Subject Descriptor  12348 non-null  object
 2   Year                12348 non-null  object
 3   value               10428 non-null  float64
dtypes: float64(1), object(3)
memory usage: 386.0+ KB

#### Use `pivot` to create a 5-column data set with columns for:
- Country
- Year
- GDP per capita
- Unemployment rate
- Inflation
    
(Note that you will want to reset the index of the final result with `.reset_index()`)

In [12]:
weo_long2 = weo_long.pivot(values = 'value', index=['Country','Year'], columns = 'Subject Descriptor').reset_index()
weo_long2.head()

Subject Descriptor,Country,Year,"Gross domestic product per capita, current prices","Inflation, average consumer prices",Unemployment rate
0,Afghanistan,2004,1113.15,16.358,NaN
1,Afghanistan,2005,1240.38,10.569,NaN
2,Afghanistan,2006,1306.71,6.785,NaN
3,Afghanistan,2007,1464.72,8.681,NaN
4,Afghanistan,2008,1512.00,26.419,NaN

#### Convert the column with years in it to dates (*Hint*: use `pd.to_datetime` with the format string `"%Y"`)

In [13]:
weo_long2['Year'] = pd.to_datetime(weo_long2['Year'],format='%Y')
weo_long2.head()

Subject Descriptor,Country,Year,"Gross domestic product per capita, current prices","Inflation, average consumer prices",Unemployment rate
0,Afghanistan,2004-01-01,1113.15,16.358,NaN
1,Afghanistan,2005-01-01,1240.38,10.569,NaN
2,Afghanistan,2006-01-01,1306.71,6.785,NaN
3,Afghanistan,2007-01-01,1464.72,8.681,NaN
4,Afghanistan,2008-01-01,1512.00,26.419,NaN

#### Rename the variable columns with simpler names

In [14]:
weo_long2 = weo_long2.rename(
    {
        "Gross domestic product per capita, current prices": "gdp_pc",
        "Inflation, average consumer prices": "inflation",
        "Unemployment rate": "unemployment",
    },
    axis=1
)
weo_long3 = weo_long2.rename_axis(None, axis=1).reset_index(drop=True)
weo_long3.head()

       Country       Year   gdp_pc  inflation  unemployment
0  Afghanistan 2004-01-01  1113.15     16.358           NaN
1  Afghanistan 2005-01-01  1240.38     10.569           NaN
2  Afghanistan 2006-01-01  1306.71      6.785           NaN
3  Afghanistan 2007-01-01  1464.72      8.681           NaN
4  Afghanistan 2008-01-01  1512.00     26.419           NaN

#### How many countries are reported in this dataset after filtering?

In [15]:
weo_long3["Country"].nunique()

196

#### How many years are reported in this dataset after filtering? What's the earliest? Most recent?

In [16]:
weo_long3["Year"].nunique()

21

In [17]:
weo_long3["Year"].min()

Timestamp('2004-01-01 00:00:00')

In [18]:
weo_long3["Year"].max()

Timestamp('2024-01-01 00:00:00')

#### Report a filtered view of the dataset with only observations from 2015

In [19]:
weo_long3[weo_long3['Year'] == '2015-01-01']

                 Country       Year    gdp_pc  inflation  unemployment
11           Afghanistan 2015-01-01   2534.92     -0.662           NaN
32               Albania 2015-01-01  11662.00      1.868        17.100
53               Algeria 2015-01-01  11944.99      4.784        11.214
74               Andorra 2015-01-01  52747.89     -1.132         3.575
95                Angola 2015-01-01   7274.09      9.159           NaN
...                  ...        ...       ...        ...           ...
4022             Vietnam 2015-01-01   7635.28      0.631         2.330
4043  West Bank and Gaza 2015-01-01   5612.25      1.431        25.900
4064               Yemen 2015-01-01   2437.50     22.000           NaN
4085              Zambia 2015-01-01   3352.53     10.107           NaN
4106            Zimbabwe 2015-01-01   2643.16     -2.410           NaN

[196 rows x 5 columns]

#### How many missing values are there for the unemployment variable?

In [20]:
weo_long3['unemployment'].isnull().sum()

1816

#### How many countries do we actually have unemployment data for at all?

In [21]:
weo_long4 = weo_long3.dropna(how='any',subset = ['unemployment'])
weo_long4['unemployment'].nunique()

1608

#### Merge in the World Development Indicators indicators data with the WEO data

- After merging, drop the `country` variable (the lowercase one)

In [22]:
weo_whole = pd.merge(weo_long3,wdi,left_on = 'Country', right_on = 'country', how="outer")
weo_whole = weo_whole.dropna(how='any',subset = ['Country'])
weo_whole = weo_whole.drop('country',axis=1)
weo_whole

,Country,Year,gdp_pc,inflation,unemployment,region,income_group
0,Afghanistan,2004-01-01,1113.15,16.358,NaN,South Asia,Low income
1,Afghanistan,2005-01-01,1240.38,10.569,NaN,South Asia,Low income
2,Afghanistan,2006-01-01,1306.71,6.785,NaN,South Asia,Low income
3,Afghanistan,2007-01-01,1464.72,8.681,NaN,South Asia,Low income
4,Afghanistan,2008-01-01,1512.00,26.419,NaN,South Asia,Low income
...,...,...,...,...,...,...,...
4111,Zimbabwe,2020-01-01,2104.58,557.210,NaN,Sub-Saharan Africa,Low income
4112,Zimbabwe,2021-01-01,2337.81,98.546,NaN,Sub-Saharan Africa,Low income
4113,Zimbabwe,2022-01-01,2602.78,193.399,NaN,Sub-Saharan Africa,Low income
4114,Zimbabwe,2023-01-01,2749.78,314.501,NaN,Sub-Saharan Africa,Low income
4115,Zimbabwe,2024-01-01,2857.51,222.399,NaN,Sub-Saharan Africa,Low income

#### Which countries don't have valid `region` identifiers after the merge?

In [23]:
weo_whole[weo_whole['region'].isnull()]['Country'].unique()

array(["CÃ´te d'Ivoire", 'Democratic Republic of the Congo', 'Egypt',
       'Eswatini', 'Hong Kong SAR', 'Islamic Republic of Iran', 'Korea',
       'Lao P.D.R.', 'Macao SAR', 'Micronesia', 'North Macedonia',
       'Republic of Congo', 'Russia', 'Syria', 'SÃ£o TomÃ© and PrÃ­ncipe',
       'Taiwan Province of China', 'The Bahamas', 'The Gambia', 'TÃ¼rkiye',
       'Venezuela', 'Yemen'], dtype=object)

#### Remove these countries from the dataframe

In [24]:
weo_whole = weo_whole.dropna(how='any',subset = ['region'])
weo_whole

,Country,Year,gdp_pc,inflation,unemployment,region,income_group
0,Afghanistan,2004-01-01,1113.15,16.358,NaN,South Asia,Low income
1,Afghanistan,2005-01-01,1240.38,10.569,NaN,South Asia,Low income
2,Afghanistan,2006-01-01,1306.71,6.785,NaN,South Asia,Low income
3,Afghanistan,2007-01-01,1464.72,8.681,NaN,South Asia,Low income
4,Afghanistan,2008-01-01,1512.00,26.419,NaN,South Asia,Low income
...,...,...,...,...,...,...,...
4111,Zimbabwe,2020-01-01,2104.58,557.210,NaN,Sub-Saharan Africa,Low income
4112,Zimbabwe,2021-01-01,2337.81,98.546,NaN,Sub-Saharan Africa,Low income
4113,Zimbabwe,2022-01-01,2602.78,193.399,NaN,Sub-Saharan Africa,Low income
4114,Zimbabwe,2023-01-01,2749.78,314.501,NaN,Sub-Saharan Africa,Low income
4115,Zimbabwe,2024-01-01,2857.51,222.399,NaN,Sub-Saharan Africa,Low income

#### How many unique countries are there after this filter?

In [25]:
weo_whole['Country'].nunique()

175

#### How many observations are there in each income group? Each region?

In [26]:
weo_whole['income_group'].value_counts()

income_group
High income            1134
Upper middle income    1029
Lower middle income     924
Low income              588
Name: count, dtype: int64

In [27]:
weo_whole['region'].value_counts()

region
Europe & Central Asia         1008
Sub-Saharan Africa             882
Latin America & Caribbean      672
East Asia & Pacific            546
Middle East & North Africa     357
South Asia                     168
North America                   42
Name: count, dtype: int64

#### What was the average inflation rate in 2021?

In [28]:
weo_whole[weo_whole['Year'] == '2021-01-01']['inflation'].mean()

8.467396551724137

#### Which country had the highest unemployment rate in 2020?

In [29]:
weo_whole2 = weo_whole[weo_whole['Year'] == '2021-01-01']

In [30]:
weo_whole2.iloc[(weo_whole2["unemployment"] == weo_whole2["unemployment"].max()).values, 0]

3272    South Africa
Name: Country, dtype: object

#### What was the average unemployment in each year?

In [31]:
weo_whole.groupby('Year')['unemployment'].mean()

Year
2004-01-01    9.522000
2005-01-01    9.189842
2006-01-01    8.488537
2007-01-01    7.872412
2008-01-01    7.405010
2009-01-01    8.873577
2010-01-01    9.154374
2011-01-01    9.001470
2012-01-01    9.499920
2013-01-01    9.469470
2014-01-01    9.330810
2015-01-01    8.976510
2016-01-01    8.723080
2017-01-01    8.262109
2018-01-01    7.905257
2019-01-01    7.452310
2020-01-01    9.028657
2021-01-01    8.405384
2022-01-01    7.379216
2023-01-01    7.250901
2024-01-01    7.138319
Name: unemployment, dtype: float64

#### In which year do we see the highest average inflation?

In [32]:
weo_whole.groupby('Year')['unemployment'].mean().idxmax()

Timestamp('2004-01-01 00:00:00')

#### Using method chaining, in one chained command:
- Create a subset of the data that has only those observations from the `Europe & Central Asia` region from 2016, with only the `unemployment` column
- Change the units of the unemployment rate column to reflect a percent (divide by 100)
- Find the average unemployment rate for this group

In [43]:
(weo_whole.loc[weo_whole["Year"] == '2016-01-01']
          .loc[weo_whole["region"] == "Europe & Central Asia", 'unemployment']
          .div(100)
          .mean()
)

0.09605688888888887

#### Find the average level of GDP for each income group

In [44]:
weo_whole.groupby('income_group')['gdp_pc'].mean()

income_group
High income            45433.304087
Low income              1894.504878
Lower middle income     6211.559761
Upper middle income    14998.848179
Name: gdp_pc, dtype: float64

#### Which region has the largest within-region disparity in GDP per capita, as measured by standard deviation?

In [47]:
weo_whole.groupby('income_group')['gdp_pc'].std().idxmax()

'High income'

#### Export the dataset as a csv file named `weo_export.csv` with the argument `index=False`

In [48]:
weo_whole.to_csv("weo_export.csv", index=False)